.navbar_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgb(3, 0, 40);
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 178px;
    z-index: 9;
}

.navbar_bottom {
    background: rgb(45, 44, 44);
    padding: 10px 20px;
}

.navbar .logo {
    font-size: 20px;
    display: flex;
    gap: 10px;
    color: white;
}

/* .navbar .logo h2{
    font-family: "BioRhyme Expanded", serif;
} */

.navbar .logo svg {
    font-size: 40px;
}


.searchbar {
    background-color: white;
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 15px;

}

.searchbar input::placeholder {
    color: black;
}

.searchbar input {
    max-width: 400px;
    width: 100%;
    background: none;
    color: black;
    border: none;
    outline: none;
    font-size: 20px;
}

.searchbar svg {
    color: black;
    font-size: 25px;
    cursor: pointer;
}

.navbar_top .cart {
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: right; */
}

.cart span {
    text-align: right;
}

.cart svg {
    color: white;
    font-size: 40px;
}

.navbar_bottom ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar_bottom li {
  font-size: 20px;
  color: #ffffff;
  position: relative;
  display: inline-block;
}

.navbar_bottom li::after,
.navbar_bottom li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ff0000, #00ffff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.navbar_bottom li::before {
  top: -5px;
  transform-origin: left;
}

.navbar_bottom li:hover::after,
.navbar_bottom li:hover::before {
  transform: scaleX(1);
}


.totalValue {
    text-align: center;
}

.totalValue p {
    margin-bottom: 10px;
}
section.cart {
    margin-left: 10%;
}

@media screen and (max-width : 768px) {
    .navbar_top {
        flex-wrap: wrap;
    }

    .searchbar {
        order: 3;
        margin-top: 10px;
        padding: 5px;
    }
}